body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 100vh;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

input {
  padding: 8px;
  margin: 10px 0;
  width: 80%;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

#message {
  font-weight: bold;
  margin-top: 10px;
}
